<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE server SYSTEM "../SQLite/roles.dtd">
<server>
    <ipAdress>localhost</ipAdress>
    <port>3306</port>
    <databaseName>library</databaseName>
    <userName>root</userName>
    <password>123</password>
    <filePath>/SQLite/library.sqlite</filePath>
</server>
